[user]
  name = isaacalao
  email = 88806554+isaacalao@users.noreply.github.com
[core]
  editor = nvim
[http]
  postBuffer = 524288000
[credential "https://github.com"]
  helper =
  helper = !command gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !command gh auth git-credential
